<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controller.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>controller.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>controller.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePassController</servlet-name>
        <servlet-class>controller.changePassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginGGController</servlet-name>
        <servlet-class>controller.loginGGController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutController</servlet-name>
        <servlet-class>controller.logoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInfoController</servlet-name>
        <servlet-class>controller.UpdateInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>controller.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailController</servlet-name>
        <servlet-class>controller.ProductDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerController</servlet-name>
        <servlet-class>controller.ManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryOrderController</servlet-name>
        <servlet-class>controller.HistoryOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePassController</servlet-name>
        <url-pattern>/changePass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginGGController</servlet-name>
        <url-pattern>/loginGG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInfoController</servlet-name>
        <url-pattern>/updateInfoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailController</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerController</servlet-name>
        <url-pattern>/manager</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>discountController</servlet-name>
        <servlet-class>controller.discountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newsController</servlet-name>
        <servlet-class>controller.newsController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newsDetailController</servlet-name>
        <servlet-class>controller.newsDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newsFixController</servlet-name>
        <servlet-class>controller.newsFixController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newsManageController</servlet-name>
        <servlet-class>controller.newsManageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>discountDetailController</servlet-name>
        <servlet-class>controller.discountDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>discountUpdateController</servlet-name>
        <servlet-class>controller.discountUpdateController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>discountController</servlet-name>
        <url-pattern>/discount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newsController</servlet-name>
        <url-pattern>/news</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newsDetailController</servlet-name>
        <url-pattern>/newsDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newsFixController</servlet-name>
        <url-pattern>/newsFix</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newsManageController</servlet-name>
        <url-pattern>/newsManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>discountDetailController</servlet-name>
        <url-pattern>/discountDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>discountUpdateController</servlet-name>
        <url-pattern>/discountUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryOrderController</servlet-name>
        <url-pattern>/historyOrder</url-pattern>
    </servlet-mapping>
</web-app>
